html,
body {
    width: 100%;
    height: 100%;
    background: #C4DEF6 center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jumbotron {
    background: #07575B center;
    color: white;
}

.carousel {
    width: 100%;
    height: 650px;
}

.carousel-inner>.item>img {
    width: 100%;
    height: 0px;
}

footer {
    background-color: #004445;
    color: white;
    padding: 25px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

#bio {
    background-color: white;
}

#articles {
    background-color: black;
}

#entertainment {
    background-color: #C4DEF6;
}

.container {
    width: 100%;
    background: #07575B center;
    color: white;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}
