html,
body {
    width: 100%;
    height: 100%;
    background-color: #07575B;
}

.jumbotron {
    background: #66A5AD center;
    color: white;
}

body {
    padding-top: 50px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}


/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Footer Styles */

footer {
    margin: 50px 0;
    color: white;
    padding: 25px;
    background-color: #66A5AD;
    box-shadow: 5px 5px #c4dfe6;
}


/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    header.carousel .carousel {
        height: 70%;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.container {
    width: 100%;
    color: white;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.panel-body p,
.well p {
    color: black;
}

#welcomeToHstat {
    background-color: #07575B;
}
