html,
body {
  width: 100%;
  height: 100%;
  background: #C4DEF6 center;
  /*background: linear-gradient(#457fca,#5691c8) center;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron{
background:#07575B center;
background-size: cover;
color: white;
}

footer {
    background-color: #004445 ;
    color: white;
    padding: 25px;
}

.carousel-inner img {
    width: 100%;
    /* Set width to 100% */
    margin: auto;
    min-height: 200px;
    box-shadow: #1995AD 10px 10px;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
#bio{
    background-color: white; 
}
#articles{
    background-color: blac;
}
#entertainment{
    background-color: #C4DEF6;
}
.container-fluid{
    padding-bottom: 30px;
}