html,
body {
    width: 100%;
    height: 100%;
}

h2 {
    margin: 40px;
}

/*p {*/
/*    text-indent: 50px;*/
/*}*/
.lowSpace{
    padding: 0 100px;
}
.centerMargin{
    margin-top: 65px;
}
.lead.text-muted {
    text-align: center;
}
.materials{
    margin: 0 0 0 150px
}
.blueBorder {
    border-top: 3px solid #66A5AD;
    width: 75%;
}

.jumbotron {
    margin-top: 0px;
    background: #66A5AD center;
    color: white;
}

.divider {
    padding: 30px;
}

.img-circle {
    margin: 40px;
    width: 300px;
    height: 300px;
}

.text-muted {
    color: #66A5AD;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}


/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}


/* Footer Styles */

footer {
    margin: 50px 0;
    color: white;
    padding: 25px;
    background-color: #66A5AD;
    box-shadow: 5px 5px #c4dfe6;
}

.page-header {
    background-color: #66A5AD;
    box-shadow: 5px 5px #c4dfe6;
}


/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
    header.carousel .carousel {
        height: 70%;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}

.container {
    width: 100%;
    color: white;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
    margin: auto;
}

.panel-body p,
.well p {
    color: black;
}

.col-sm-4 {
    height: 140px;
}

.text-vertical-center {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    color: white;
}

.whiteBox {
    margin-top: 20px;
    background-color: white;
    padding: 25px;
    color: black;
    width: 500px;
}

body {
    margin-top: 50px;
}

.header-image {
    display: block;
    width: 100%;
    text-align: center;
    background: url('http://placehold.it/1900x500') no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h2 {
    font-size: 77px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}

.featurette-divider {
    margin: 80px 0;
    background-color: white;
}

.featurette {
    overflow: hidden;
}

.featurette-image.pull-left {
    margin-right: 40px;
}

.featurette-image.pull-right {
    margin-left: 40px;
}

.featurette-heading {
    font-size: 50px;
}

/*.indent {*/
/*    text-indent: 50px;*/
/*}*/

#about,
#services {
    background-color: white;
}

h3 {
    color: black;
}

footer {
    margin: 50px 0;
}

@media(min-width:1200px) {
    h1 {
        font-size: 150px;
    }
}

@media(max-width:1200px) {
    h1 {
        font-size: 130px;
    }
    .headline h2 {
        font-size: 63px;
    }
    .featurette-divider {
        margin: 50px 0;
    }
    .featurette-image.pull-left {
        margin-right: 20px;
    }
    .featurette-image.pull-right {
        margin-left: 20px;
    }
    .featurette-heading {
        font-size: 35px;
    }
}

@media(max-width:991px) {
    .headline h2 {
        font-size: 50px;
    }
    .featurette-divider {
        margin: 40px 0;
    }
    .featurette-image {
        max-width: 50%;
    }
    .featurette-image.pull-left {
        margin-right: 10px;
    }
    .featurette-image.pull-right {
        margin-left: 10px;
    }
    .featurette-heading {
        font-size: 30px;
    }
    h1 {
        font-size: 150px;
    }
}

@media(max-width:768px) {
    .container {
        margin: 0 15px;
    }
    .featurette-divider {
        margin: 40px 0;
    }
    .featurette-heading {
        font-size: 25px;
    }
    h1 {
        font-size: 70px;
    }
}

@media(max-width:668px) {
    h1 {
        font-size: 70px;
    }
    .headline h2 {
        font-size: 32px;
    }
    .featurette-divider {
        margin: 30px 0;
    }
}

@media(max-width:640px) {
    .headline {
        padding: 75px 0 25px 0;
    }
    h1 {
        font-size: 50px;
    }
    .headline h2 {
        font-size: 30px;
    }
}

@media(max-width:375px) {
    .featurette-divider {
        margin: 10px 0;
    }
    .featurette-image {
        max-width: 100%;
    }
    .featurette-image.pull-left {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .featurette-image.pull-right {
        margin-bottom: 10px;
        margin-left: 0;
    }
}
